.action-profile-index #content
  .box-1
    .main-block
      display: none
    .article-block
      border-bottom: 1px dotted #575959
      h3.block-title
        background: url('icons/line.png') repeat-x left center
        border-bottom: none
        border-left: 10px solid #575959
        color: #575959
        font-family: 'Ubuntu'
        font-size: 22px
        font-variant: normal
        font-weight: 300
        line-height: 22px
        margin: 25px 0
        span
          background: #FFF
          padding: 0 15px
      .short-post
        font-family: 'Ubuntu'
        font-size: 13px
        a
          color: #3B9AAD
          text-decoration: none
      .read-more
        a
          background: url('icons/more.png') no-repeat left center
          background-size: contain
          color: #000
          display: block
          float: right
          font-family: 'Ubuntu'
          font-size: 13px
          height: 24px
          line-height: 24px
          margin: 25px 0
          padding-left: 30px
          text-decoration: none

.action-profile-index #content
  .box-1
    .community-track-plugin_track-list-block
      h3.block-title
        background: url('icons/icon-attend.png') no-repeat left center
        background-size: 35px 35px
        border: none
        color: #196F87
        display: inline-block
        font-family: 'Ubuntu'
        font-size: 22px
        font-variant: normal
        font-weight: normal
        height: 35px
        line-height: 35px
        padding-left: 45px
      .item
        border: none
        margin: 40px 0 20px 0
        .track_content
          height: auto
          .lead
            border: 1px solid #999
            border-radius: 5px
            display: inline-table
            float: none
            margin-top: 20px
            width: 210px
            .track_enum
              background: #FFF
              border-radius: 15px 5px 5px 15px
              color: #575757
              font-family: 'Ubuntu Mediun'
              font-size: 16px
              margin: 30px 40px 30px 15px
              span
                display: inline-block
                line-height: 30px
              span.counter
                background: #6A6A6A
                border-radius: 30px
                color: #FFF
                height: 30px
                text-align: center
                width: 30px
              span.track_label
                padding: 0 5px
                width: 115px
            h3
              background: #F3F4F6
              border-top: 1px solid #999
              margin: 0
              padding: 20px 10px 10px 10px
              a
                color: #575757
                font-family: 'Ubuntu Mediun'
                font-size: 14px
                font-weight: normal
                text-decoration: none
            .content
              background: #F3F4F6
              display: block
              font-family: 'Ubuntu'
              font-size: 12px
              height: 28px
              overflow: hidden
              padding: 0 10px
              p
                margin: 0
            .read_more
              background: #F3F4F6
              padding: 10px 10px 20px 10px
              a
                color: #575757
                font-family: 'Ubuntu'
                font-size: 12px
                text-decoration: none
                text-transform: lowercase
            .stats
              background: #575757
              border-radius: 0 0 3px 3px
              display: block
              height: 48px
              margin: 2px
              .comments_count, .hits_count
                background: transparent url('icons/balao_claro.png') no-repeat left center
                float: left
                height: 18px
                margin: 15px 0px 15px 10px
                width: auto
                span
                  color: #FFF
                  font-family: 'Ubuntu'
                  font-size: 12px
                  line-height: 16px
                  padding-left: 25px
              .hits_count
                background: transparent url('icons/visualizacao_claro.png') no-repeat left center
        .steps
          display: inline-table
          float: none
          margin-left: 20px
          vertical-align: top
          h3
            color: #A2A2A2
            font-family: 'Ubuntu'
            font-size: 14px
            font-weight: normal
            margin: 0 0 0 15px
          .step
            background: #F3F3F3
            border-radius: 10px
            height: 50px
            width: 440px
            padding: 15px
            .position
              background: #FFF
              border: 1px solid #E5E5E5
              border-radius: 5px
              color: #A2A2A2
              display: inline-block
              float: none
              font-family: 'Ubuntu'
              font-size: 16px
              height: 50px
              line-height: 50px
              padding: 0px
              text-align: center
              width: 50px
            .tool_icon
              display: none
            .name
              color: #A2A2A2
              display: inline-block
              font-family: 'Ubuntu Mediun'
              font-size: 15px
              font-weight: normal
              height: auto
              line-height: 17px
              margin: -5px auto auto 10px
              max-height: 52px
              overflow: hidden
              padding: 0
              vertical-align: middle
              width: 320px
            .legend
              background: url('icons/closed.png') no-repeat left center
              color: transparent
              height: 30px
              margin: 10px 15px
              width: 22px
          .step_active
            background: #88D1F7
            .position
              border-color: #159BBE
              color: #196F87
            .name
              color: #196F87
            .legend
              background: url('icons/open.png') no-repeat left center
      .item:first-child 
        .track_content
          .lead
            border: 1px solid #308DC6
            .track_enum
              background: #159BBE
              color: #FFF
              span.counter
                background: url('icons/icon-attend.png') no-repeat left center
                background-size: 30px 30px
                color: transparent
            h3
              background: #F3F4F6
              border-top: 1px solid #308DC6
              a
                color: #196F87
            .content
              background: #F3F4F6
            .read_more
              background: #F3F4F6
              a
                color: #196F87
            .stats
              background: #88D1F7
              .comments_count, .hits_count
                background: transparent url('icons/balao.png') no-repeat left center
                span
                  color: #196F87
              .hits_count
                background: transparent url('icons/visualizacao.png') no-repeat left center
        .steps h3
          color: #159BBE
