#content 
  .box-2
    width: 230px
    .block
      margin-bottom: 15px
    .block-title
      border: none
      border-radius: 3px 3px 0 0
      font-family: 'Ubuntu Mediun'
      font-size: 15px
      font-variant: normal
      font-weight: normal
      line-height: 30px
      padding: 15px 15px 15px 55px
      text-transform: capitalize
    .link-list-block
      padding: 0
      li
        margin-bottom: 15px
        &:first-child a
          background: #4F9CAC url('icons/login.png') no-repeat 15px center
          background-size: 30px 30px
          color: #DAE1C4         
        a
          background: #DAE1C4 url('icons/como-participar.png') no-repeat 15px center
          background-size: 30px 30px
          border-radius: 5px
          color: #69677C
          font-family: 'Ubuntu Mediun'
          font-size: 15px
          line-height: 30px
          padding: 15px 15px 15px 55px

#content 
  .box-2
    .members-block
      border: 1px solid #DAE1C4
      border-radius: 5px
      .block-title
        background: #DAE1C4 url('icons/pessoas.png') no-repeat 15px center
        background-size: 30px 30px
        color: #4F9CAC
      .block-footer-content
        background: #DAE1C4
        border-radius: 0px 0px 3px 3px
        display: table
        height: 35px
        margin: 30px 2px 2px 2px
        padding: 0
        width: 224px
        .members-counter
          background: url('icons/user.png') no-repeat 10px center
          background-size: 20px 20px
          color: #69677C
          display: table-cell
          font-family: 'Ubuntu'
          font-size: 13px
          padding-left: 40px
          text-align: left
          text-transform: capitalize
          vertical-align: middle
        a.view-all
          background: url('icons/more_two.png') no-repeat 20px center
          background-size: 20px 20px
          color: transparent
          display: table-cell
          text-align: right
      ul
        margin: 32px
        min-width: 166px
        width: 166px
      .common-profile-list-block
        &:last-child
          .vcard
            width: 100%
        .vcard
          border: none
          width: 54px
        .profile_link
          height: 50px
          max-height: 50px
          margin: 2px
          padding: 0
        .profile-image
          width: 50px
        .fn
          display: none
        .banner-div
          a
            background: #FA4F0B
            height: 40px
            margin: 2px
            padding: 0
          span
            color: #FFF
            font-family: 'Ubuntu'
            font-size: 16px
            font-weight: normal
            line-height: 40px
            text-align: center
            width: 158px
      .menu-submenu
        bottom: 52px
        right: -29px
      .menu-submenu-list
        margin: 0
      
#content 
  .box-2
    .statistics-block
      border: 1px solid #69677C
      border-radius: 5px
      .block-title
        background: #69677C url('icons/indicadores.png') no-repeat 15px center
        background-size: 30px 30px
        color: #DAE1C4
      .statistics-block-data
        ul
          padding-left: 30px
          span
            font-family: 'Ubuntu'
            font-size: 13px
            line-height: 20px
            &.amount
              font-weight: 700
              margin: 0 5px
