@import url(../profile-base/style.css)

@font-face
  font-family: 'Ubuntu'
  font-weight: 300
  font-style: normal
  src: url('fonts/Ubuntu-R.ttf')

@font-face
  font-family: 'Ubuntu Mediun'
  font-weight: 300
  font-style: normal
  src: url('fonts/Ubuntu-M.ttf')

@font-face
  font-family: 'Ubuntu'
  font-weight: 300
  font-style: italic
  src: url('fonts/Ubuntu-RI.ttf')

body
  background: #fff

#barra-brasil
  border-bottom: 1px solid #eee
  width: 100%
  z-index: 99
  div#wrapper-barra-brasil
    font-family: Arial, Helvetica, sans-serif !important
    width: 960px

#theme-header, #site-title
  display: none

#wrap-2
  border: none
  margin: 0
  padding: 0
  #user
    display: none

.box-1
  margin: 0 0 0 250px
  width: 710px
@import profileheader

#content
  font-family: 'Ubuntu'
  font-size: 12px
  .block
    margin: 0 0 30px 0

#content 
  .main-content, .no-boxes, #not-found, #access-denied
    h1
      border: none
      color: #575959
      font-family: 'Ubuntu'
      font-size: 22px
      font-variant: normal

#boxes
  margin-top: 0px

.vote-actions
  display: none

@import topmenu

@import sideblocks

@import homeblocks

@import internalpage
